<table class="table table-bordered table-striped table-hover" >
    <thead>
    <tr>
    	<th ng-if="selected" width="5%"><input type="checkbox" ng-click="updateSelection($event,'all')"></th>
        <th ng-repeat="column in columns" width="{{column.width}}">{{column.name}}</th>
        <th ng-if="operations" width="15%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="td in page.list">
    	<td ng-if="selected" >
        	<input type="checkbox" cid="{{td.id}}" name="cbname" ng-click="updateSelection($event,td.id)">
        </td>
        <td ng-repeat="column in columns">
        	<div ng-if="column.columnName=='sex'"><p  ng-bind="td[column.columnName] |sex"></p></div>
        	<div ng-else-if="column.columnName=='status'" ><p ng-bind="td[column.columnName] |personStatus"></p></div>
        	<div ng-else ><p ng-bind-html="td[column.columnName]"></p></div>
        </td>
        <td ng-if="operations" >
        	<button type="button" ng-repeat="operation in operations" class="btn btn-default btn-xs" ng-click="clickOperate(td.id,operation.name)"><i class="{{operation.imgClass}}" aria-hidden="true"></i> {{operation.title}}</button>
        </td>
    </tr>
    </tbody>
</table>
<div class="row">
	<div class="col-lg-2">
		<div  ng-if="selected">
			<button type="button" class="btn btn-default" ng-click="deleteBatch()"><i class="fa fa-times" aria-hidden="true"></i> 批量删除</button><br/>
		</div>
	</div>
	<div class="col-lg-10">
		<div style="float: right">
		<uib-pagination ng-change="pageChanged()" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页"  total-items="page.totalCount" ng-model="pageOption.currentPage" items-per-page="pageOption.pageSize" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
		</div>
	</div>
</div>

